@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face{
    font-family:"Neuro";
    src: url('neuropoliticalrg.ttf') format('truetype');  
}
 
.title{
    font-family: Neuro;
    font-size: 60px;
    color:white;  
}
body{
    background-color: rgb(34,34,34);
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;   
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;  
}

#home, #newslatter, #sobre-nos, #contato{
    border: 2px solid rgb(132,14,201);
    border-radius: 15px;
    padding: 5px;  
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

#home:hover, #newslatter:hover, #sobre-nos:hover, #contato:hover{
    color: rgb(132,14,201);
    transition: 0.3s all;
}

#img{
   width: 600px;
   border-radius: 10px;
   text-align: center;
}

.sub-title{
    font-size: 30px;
    line-height: 10px;
    font-family: 'Poppins', sans-serif;  
}

p{
    text-align: justify; 
    text-indent:30px;
  
}
.ref{
    text-align: left;
}

.ref > a{
    text-decoration: none; 
    color: white;
}
.ref a:hover{
    color: rgb(132,14,201);

}
button{
    color: cornflowerblue;
    cursor: pointer;
   
}


.imagens-rsocias{

    display: flex;
    justify-content: space-between;
    padding: 100px ;
   
   
}


.voltar{
    font-size: 25px;
    border-radius: 10px;
    color: blue;
    margin: 150px;
    
   
}

#cadastro{
    display: flex;
    justify-content: center;
    font-size: 20px;
    
 
}

#t_contato{
    padding: 20px;
    font-size: 40px;
 
}

#c_titulo{
    padding: 50px;
}


.t_sobrenos{
    padding: 20px;
    font-size: 40px;
    margin: 10px;

}




   
